<div class="top">
  <h2>Students Grades: </h2>
  <br>
  <a href="#new_tab" target="_blank">
  <button mat-raised-button>Grades</button> 
  </a>
</div>

<br>
<h3>Students List</h3>
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">Id</th>
    <th mat-sort-header="first_name">First Name</th>
    <th mat-sort-header="last_name">Last Name</th>
    <th mat-sort-header="grade">Grade</th>
    <th mat-sort-header="ph_no">Phone No</th>
  </tr>

  <tr *ngFor="let students of students">
    <td>{{students.id}}</td>
    <td>{{students.first_name}}</td>
    <td>{{students.last_name}}</td>
    <td>{{students.grade}}</td>
    <td>{{students.ph_no}}</td>
  </tr>
</table>
 