
<table matSort (matSortChange)="students($event)">
  <tr>
    <th mat-sort-header="id">ID</th>
    <th mat-sort-header="first_name">First Name</th>
    <th mat-sort-header="last_name">Last Name</th>
    <th mat-sort-header="grade">Grades</th>
    <th mat-sort-header="ph_no">Contact No</th>
    <th mat-sort-header="complain">Complain</th>
  </tr>

  <tr *ngFor="let s of students">
    <td>{{s.id}}</td>
    <td>{{s.first_name}}</td>
    <td>{{s.last_name}}</td>
    <td>{{s.grade}}</td>
    <td>{{s.ph_no}}</td>
    <td>{{s.complain}}</td>
  </tr>
</table>
